header{
    display:flex;
    width:100%;
    height:60px;
    background: color #daeae5;
    align-items:center;
    }

    body{
        margin:0;
    }

    ul{
        list-style:none;
        margin:0;
        display:flex;
    }

    li{
        margin:0 0 0 15px;
        font-size:14px;
    }

    a{
        font-weight:bold;
        text-decoration:none;
    }

    a:link{
        color: #000;
    }

    a:hover{
        color:#ff8052;
    }

    .title{
        margin-right:auto;
        padding-left:6px;
        font-size:25px;
        font-weight:bold;
        color:#165B6A;
    }    

    .smart{
        position:absolute;
        top:100px;
        left:170px;
    }
    
    .for-create{
        position: relative;
        bottom: 2px;
        padding: 2px 4px;
        background: #ff8052;
        color:#ffffff;
        font-size:12px;
        border-radius: 5px;
        border:none;
    }

      
    .for-button{
        position:absolute;
        top:400px;
        left:560px;
        padding: 13px 50px;
        background: #ff8052;
        color:#ffffff;
        font-size:25px;
        font-weight:bold;
        border-radius: 10px;
        border:none;
    }    

    .page-title{
        color:#165B6A;
        position:absolute;
        top: 60px;
        left: 475px;
        font-size: 70px;
        font-weight: bold;
    }

    .for-triangle {
        display: flex;
        justify-content: flex-end;
      }

      .trisize{
        width:90%;
    }

    .explain{
        position: absolute;
        font-weight: bold;
        font-size: 18px;  
        top:230px;
        left:450px;
    }
